.banner{

    position: relative;
    background-image: url('../img/flores2.jpg');
    width: 100%;
    height: 300px;
    background-color: purple;
    background-position: center;
}

.btnContainer{

    position: absolute;
    overflow: hidden;
    bottom: 0px;
}

.a{

    text-decoration:none;
}

.divCards{
    display: inline-flex;
}

