.banner{

    position: relative;
    background-image: url('../img/flores.jpg');
    width: 100%;
    height: 405px;
    background-color: purple;
    background-position: center;
}

.btn-NewPost{

    position: absolute;
    overflow: hidden;
    bottom: 0px;
}

.a{

    text-decoration:none;
}