<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>

    <!--sidebar lateral-->
    <div th:fragment="sidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
        <div class="sidebar-profile">
            <img th:src="@{/img/gabriel-perfil1.jpeg}" alt="imagem perfil">
            <span class="text-sidebar myprofile">Gabriel Xavier</span>
        </div>

        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
            <span class="text-sidebar">Postagens</span>
        </a>
        <a href="/desenhos">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="16" fill="currentColor" class="bi bi-file" viewBox="0 0 16 16">
                <path d="M4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4zm0 1h8a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
            </svg>
            <span class="text-sidebar">Desenhos</span>
        </a>
        <a href="/sobre">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
            </svg>
            <span class="text-sidebar">Portifólio</span>
        </a>
    </div>

    <!-- Banner -->
    <div class="container banner" th:fragment="banner">
      <div th:if="${#ctx.springRequestContext.requestUri} == '/'"  class="bg-primary">
        <div class="bg-black bg-gradient p-2 btnContainer" style="--bs-bg-opacity: .5; width: 90%">
          <button sec:authorize="hasAuthority('ADMIN')" class="btn btn-success btn-NewPost" onclick="mudarVisibilidadeEditor()">Novo Post</button>
        </div>
      </div>
    </div>

    <!-- Links -->
    <!-- Opções de links -->
    <div th:fragment="links_menu" class="container d-flex flex-row mb-3">
        <div class="p-2"><a href="/" class="text-muted">home</a></div>
        <div sec:authorize="hasAuthority('ADMIN')" class="p-2"><a href="/usuario/all"  class="text-muted">usuarios</a></div>
        <div class="p-2"><a href="/sobre" class="text-muted">Sobre</a></div>
        <div sec:authorize="not isAuthenticated()"class="p-2"><a href="/register"  class="text-muted">Register</a></div>
        <div sec:authorize="not isAuthenticated()"class="p-2"><a href="/login"  class="text-muted">Login</a></div>
        <div sec:authorize="isAuthenticated()" class="p-2"><a href="/logout" th:action="@{/logout}" method="post" class="text-muted">Logout</a></div>

    </div>

    <div th:fragment="not_found" class="container">
        <h1 class="display-6">Hmm... Parece que algo deu errado.</h1>
        <p>Página inexistente ou indisponível para acesso.</p>
    </div>
</body>
</html>